.anexadorComprovante {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-radius: 4;
    -fx-border-color: -fx-focus-color, #C7C7C7, derive(#C7C7C7, 30%);
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-padding: 3;
}