.check-box{
    -fx-cursor: hand    
}

.check-box:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 2, 0, 0, 0);
    -fx-cursor: hand;
}

.box {
    -fx-background-color: #E7EDEE;
    -fx-background-radius: 5pt;
    -fx-cursor: hand;
}

.box:hover {
    -fx-background-color: #E7EDEE;
    -fx-background-radius: 5pt;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 2, 0, 0, 0);
}

.editar{
    -fx-background-color: #00F00F;
    -fx-background-radius: 20pt;
    -fx-cursor: hand   
}

.editar:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 2, 0, 0, 0);
    -fx-cursor: hand   
}

.view:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 2, 0, 0, 0);
    -fx-cursor: hand  
}

.excluir{
    -fx-background-color: #00F00F;
    -fx-background-radius: 20pt;
    -fx-cursor: hand
}

.excluir:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 2, 0, 0, 0);
    -fx-cursor: hand   
}

.labelData{
    -fx-text-fill: #6E6E6E;
    -fx-font-weight: bold;
}

.labelProcedimento{
    -fx-text-fill: #404040;
}