#AnchorPane {
    -fx-background-color: white;
}

#AnchorPane .label {
    -fx-font: 14px "Noto Sans Mono";
}

#AnchorPane .text-field {
    -fx-font: 14px "Noto Sans Mono";
}

#AnchorPane .text-area {
    -fx-font: 14px "Noto Sans Mono";
}

#AnchorPane .toggle-button {
    -fx-font: 14px "Noto Sans Mono";
}

#AnchorPane .menu-button {
    -fx-font: 14px "Noto Sans Mono";
}

#button {
    -fx-font: 14px "Noto Sans Mono";
    -fx-font-weight: bold;
    -fx-background-color: #C2D5FA;
    -fx-background-radius: 8pt;
    -fx-cursor: hand;
}

#button:hover {
    -fx-font: 14px "Noto Sans Mono";
    -fx-font-weight: bold;
    -fx-background-color: #A8C4F8;
    -fx-background-radius: 8pt;
}

.cancelButton {
    -fx-background-color: #F0F0F0 !important;
}
    
.pane{
    -fx-background-color: white;
    -fx-background-radius: 8pt;
    -fx-effect: dropshadow(three-pass-box, rgba(22,22,22,0.4), 5, 0, 2, 2);
}

.buttonVoltar {
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, rgba(22,22,22,0.4), 5, 0, 2, 2);
    -fx-background-radius: 60pt;
    -fx-cursor: hand;
}

.buttonVoltar:hover {
    -fx-background-color: #888888;
}

.removerButton {
    -fx-font: 14px "Noto Sans Mono";
    -fx-font-weight: bold;
    -fx-background-color: #FF6161;
    -fx-background-radius: 8pt;
    -fx-cursor: hand;
}

.scrollPaneProcedimentos {
    -fx-padding: 0px;
    -fx-hbar-policy: never;
    -fx-font-size: 10px;
    -fx-background: #FFFFFF;
    -fx-border-color: #FFFFFF;
}
