#Pane {
    -fx-background-color: #D4E2FF;
    -fx-background-radius: 15px;
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 15px;
    -fx-border-width: 1px;
    -fx-alignment: center;
}

#Label {
    -fx-font: 14px "Noto Sans Mono";
    -fx-font-weight: normal;
    -fx-text-fill: #404040;
    -fx-alignment: center;
}