.card{
    -fx-background-radius: 10; 
    -fx-background-color : #FFFFFF; 
    -fx-effect: dropshadow(three-pass-box, rgba(22, 22, 22, 0.4), 5, 0, 0, 0);
}

.card_selecionado{
    -fx-background-radius: 10; 
    -fx-background-color : #A8C4F8;
    -fx-effect: dropshadow(three-pass-box, rgba(22, 22, 22, 0.4), 0, 1, 1, 0);
}


#label {
    -fx-font: 14px "Noto Sans Mono";
}
