.menuButtonDefault {
    -fx-background-color:  #84A1DB;
    -fx-padding: 0px;
    -fx-cursor: hand;
}

.menuButtonEntered {
    -fx-background-color:  #718abd;
    -fx-padding: 0px;
}

.menuButtonExited {
    -fx-background-color:  #84A1DB;
    -fx-padding: 0px;
}

.buttonFilter {
    -fx-background-color: transparent;
    -fx-font: 8pt "Noto Sans Mono Bold";
    -fx-alignment: center-left;
    -fx-text-fill: #9e9e9e;
    -fx-padding: 0px;
    -fx-cursor: hand;
    -fx-content-display: top;
}

.buttonNewItem {
    -fx-background-color: #DEE8FD;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(22,22,22,0.4), 5, 0, 2, 2);
    -fx-content-display: top;
    -fx-font: 10pt "Noto Sans Mono Bold";
    -fx-text-fill: #9e9e9e;
    -fx-cursor: hand;
    -fx-pref-width: 182;
    -fx-pref-height: 224;
}


.layoutFilter{
    -fx-background-color: #DEE8FD;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(22,22,22,0.4), 5, 0, 2, 2);
    -fx-content-display: top;
    -fx-font: 10pt "Noto Sans Mono Bold";
    -fx-text-fill: #9e9e9e;
    -fx-cursor: hand;
    -fx-pref-width: 182;
    -fx-pref-height: 224;
}

.buttonPet {
    -fx-background-color: #DEE8FD;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(22,22,22,0.4), 5, 0, 2, 2);
    -fx-cursor: hand;
    -fx-pref-width: 182;
    -fx-pref-height: 224;
    -fx-padding: 0px;
    -fx-content-display: top;
    -fx-alignment: top-center;
}

.nameButtonPet {
    -fx-text-fill: #494949;
    -fx-alignment: center-left;
    -fx-pref-height: 48;
    -fx-padding: 0px 10px 0px 0px;
}

.pointButtonPet {
    -fx-stroke-width: 0px;
    -fx-fill: #9e9e9e;
}

.monthButtonPet {
    -fx-text-fill: #777777;
    -fx-padding: 0px 0px 0px 7px;
}

.hBoxInfoPetExternal {
    -fx-pref-width: 182;
    -fx-pref-height: 48;
    -fx-alignment: center-left;
    -fx-padding: 0px 10px, 0px 10px;
}

.hBoxInfoPetInternal {
    -fx-pref-height: 48;
    -fx-alignment: center-left;
    -fx-padding: 0px 10px, 0px 0px;
}

.vBoxPet {
    -fx-pref-width: 182;
    -fx-alignment: center;
}

.scrollPanePet {
    -fx-padding: 0px;
    -fx-hbar-policy: never;
    -fx-font-size: 10px;
    -fx-background: #FFFFFF;
    -fx-border-color: #FFFFFF;
}

.anchorPanePet {
    -fx-padding: 0px;
    -fx-background-color: transparent;
}

.vBoxScrollPet {
    -fx-padding: 0px;
    -fx-background-color: transparent;
    -fx-spacing: 32px;
}

.hBoxScrollPet {
    -fx-padding: 0px;
    -fx-spacing: 32px;
    -fx-background-color: transparent;
}

.round-layout{
    -fx-background-color: #FFFFFF;
    -fx-cursor: hand;
    -fx-padding: 0px;
    -fx-content-display: top;
    -fx-alignment: top-center;
    -fx-border-color: #494949;
    -fx-border-radius: 20px;
}

.layoutPet {
    -fx-background-color: #DEE8FD;
    -fx-background-radius: 10;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(22,22,22,0.4), 5, 0, 2, 2);
    -fx-content-display: top;
    -fx-font: 10pt "Noto Sans Mono Bold";
    -fx-text-fill: #9e9e9e;
    -fx-cursor: hand;
}

.rounded-image-view {
    -fx-background-color: lightgray; /* Cor de fundo do StackPane (opcional) */
    -fx-background-radius: 10 10 10 10; /* Define o raio das bordas no StackPane interno */

}